
<div class="card">
    <h1 id="titulo"> {{ title }} </h1>
    <h4 id="subtitulo"> {{ subtitle }} </h4>
    <img id="imagen" src="https://placeimg.com/800/450/nature"> 
    <p id="texto"> {{ text }}</p>
    <button id="button1" type="button"> {{textbutton1}} </button> <button id="button2"type="button"> {{textbutton2}} </button>
</div>

<!-- entradas de texto de distintos tipos: texto, numeros, fecha, color...-->
<input type="text">
<input type="number">
<input type="date">
<input type="color">
<input type="checkbox">checkbox1 
<input type="checkbox">checkbox2
<input type="checkbox">checkbox3
<input type="radio" name="option">radio0 <!-- con el mismo name, solo se selecciona uno a la vez-->
<input type="radio" name="option">radio1
<input type="radio" name = "option">radio2
<a href="https://www.facebook.com" target="_blank">facebook</a> <!-- con target="_blanck"  abre otra pestaña con el enlace-->


