.card {
    width: 850px;
    height: 680px;
    border: 2px solid blue ; 
    padding: 5px;
    box-shadow: 5px 5px 10px blue;
    margin: 20px auto;
    
}
#titulo{
    color: steelblue;
    text-decoration-style: dotted;
    text-align: center;
    margin-bottom: 1px;
}

#subtitulo {
    text-align: center;
    size: 5px;
    margin-top: 0px;
}

#texto { 
    size: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    text-align: justify;
}
#button1 {
    margin-left: 290px;
}

#button2{
    margin-left: 50px;
}

button, a {
    width: 90px;
    height: 40px;
    border: 2px solid darkgrey;
    background-color: cornflowerblue;
    color: antiquewhite;
    font-size: 13px;
    border-radius: 10px;
}

#imagen { 
    padding-left:21px;
}

button:hover{
    background-color: lightgray;
    color: cornflowerblue;
    font-weight: bold;

}